<head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="<%= config.keywords %><%= 
    (page.title)? ',' + page.title : '' %><%= 
    (page.categories && page.categories.count() > 0)? ',' + page.categories.toArray().map((item) => data_category_name(item.name)).join() : '' %><%= 
    (page.tags && page.tags.count() > 0)? ',' + page.tags.toArray().map((item) => data_tag_name(item.name)).join() : '' %><%= 
    (is_category())? ',' + data_category_name(page.category): '' %><%= 
    (is_tag())? ',' + data_tag_name(page.tag): '' %>">

    <link rel="shortcut icon" href="<%- url_for('/favicon.ico') %>">
    <link rel="Bookmark" href="<%- url_for('/favicon.ico') %>">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="<%- url_for('/assets/bootstrap/css/bootstrap.min.css') %>">

    <link rel="stylesheet" href="<%- url_for('/assets/css/animate.min.css') %>">

    <!-- Custom styles -->
    <link rel="stylesheet" href="<%- url_for('/assets/css/custom.css') %>">

    <script defer src="<%- url_for('/assets/font-awesome/js/fontawesome-all.js') %>"></script>

    <title><% if (page.title) { _%>
        <%= page.title + ' - ' _%>
    <% } else if (is_category()) { _%>
        <%= data_category_name(page.category) + ' - ' _%>
    <% } else if (is_tag()) { _%>
        <%= data_tag_name(page.tag) + ' - ' _%>
    <% } else if (is_archive()) { _%>
        归档<%= (page.year)? ': ' + page.year + '年' : '' %><%= (page.month)? page.month + '月' : '' %> - <% } _%>
    <%- config.title %></title>
</head>