<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand sps sps--abv d-none" href="<%- url_for('/') %>">
    <img src="<%- url_for('/images/logo.svg') %>" width="30" height="30" alt="<%- config.title %>">
    <span><%- config.title %></span>
  </a>
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto" id="navbarNavLeft">
      <li class="nav-item<% if(is_home()) { %> active<% } %>">
        <a class="nav-link" href="<%- url_for('/') %>">首页<% if(is_home()) { %>
          <span class="sr-only">(current)</span><% } %></a>
      </li>

      <% site.categories.forEach(function(item) { %>
        <li class="nav-item<% if(is_category(item.name) || (is_post() && page.categories.some((category) => category.name == item.name))) { %> active<% } %>">
            <a class="nav-link" href="<%- url_for(item.path) %>">
              <%= data_category_name(item.name) %><% if(is_category(item.name)) { %><span class="sr-only">(current)</span><% } %>
            </a>
        </li>
      <% }) %>

      <li class="nav-item<% if(page.about) { %> active<% } %>">
        <a class="nav-link" href="<%- url_for('/about') %>">关于<% if(page.about) { %><span class="sr-only">(current)</span><% } %></a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown<% if(is_tag()) { %> active<% } %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownTags" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          标签<% if(is_tag()) { %><span class="sr-only">(current)</span><% } %>
        </a>
        <div class="dropdown-menu pre-scrollable" aria-labelledby="navbarDropdownTags">
          <% site.tags.forEach(function(item) { %>
          <a class="dropdown-item<% if(is_tag(item.name)) { %> active<% } %>" href="<%- url_for(item.path) %>"><%= data_tag_name(item.name) %><% if(is_tag(item.name)) { %>
              <span class="sr-only">(current)</span><% } %></a>
          <% }) %>
        </div>
      </li>

      <li class="nav-item<% if(is_archive()) { %> active<% } %>">
        <a class="nav-link" href="<%- url_for(config.archive_dir) %>">归档<% if(is_archive()) { %>
          <span class="sr-only">(current)</span><% } %></a>
      </li>
    </ul>

  </div>
</nav>
